@{
    ViewData["Title"] = "Product Page";
}

    <div class="card-deck mb-6 text-center">
         @foreach (var product in ViewBag.products){
        <div class="card mb-2 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">@product.Name</h4>
          </div>
          <div class="card-body">
            
            <ul class="list-unstyled mt-5 mb-4">
                <img src="~/images/@product.Photo" width="100" /> 
                 <h1 class="card-title pricing-card-title">R @product.Price </h1>
            </ul>
            <a class="btn btn-lg btn-block btn-primary" role="button" asp-controller="cart" asp-action="buy" asp-route-id="@product.Id" >Add To Cart</a>
          </div>           
        </div>
         }
    </div>
     

